<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="dash-square portfolio portfolio-vals">
        <div class="car-card-title">
          <div class="green-line"></div>
          <h3 class="title-show">Your Bookings</h3>
        </div>
        <table style="width:100%">
          <tr>
            <th>Car</th>
            <th>User</th>
            <th>Details</th>
            <th>Dates</th>
          </tr>
          <% @bookings.each do |booking| %>
          <tr>
            <td><%= booking.car.brand %> <%= booking.car.model %></td>
            <td><%= booking.user.first_name.capitalize %> <%= booking.user.last_name.capitalize %></td>
            <td><%= booking.price %>€</td>
            <td><%= booking.date_from %> - <%= booking.date_to %></td>
          </tr>
          <% end %>
        </table>
      </div>
      <div class="dash-square portfolio portfolio-stats">
        <div class="car-card-title">
          <div class="green-line"></div>
          <h3 class="title-show">Your Rating</h3>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="dash-square my-portfolio">

      </div>
    </div>
    <div class="row">
      <div class="dash-square top-win-lose">

      </div>
      <div class="dash-square twitter-feed">

      </div>
      <div class="dash-square top-traded">

      </div>
    </div>
  </div>
</div>
