<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="dash-square portfolio portfolio-vals">
        <div class="car-card-title">
          <div class="green-line"></div>
          <h3 class="title-show">Your Bookings</h3>
        </div>
        <div class="product">
          <div class='product-body bookings-list'>
            <h3>Car</h3>
          </div>
          <ul class="list-inline product-controls cards-list-dashboard bookings-dashboard">
            <li>Price</li>
            <li>Dates</li>
            <li id="bookings-buttons-column" style="width: 410px";>  </li>

          </ul>
        </div>
        <% @bookings.each do |booking| %>
        <div class="product product-list">
          <div class='product-body bookings-list'>
            <h3><%= booking.car.brand %> <%= booking.car.model %></h3>
          </div>
          <ul class="list-inline product-controls cards-list-dashboard bookings-dashboard">
            <li><%= booking.price %>€</li>
            <li style= "width: 90%;"><%= Date::MONTHNAMES[booking.date_to.month] %> <%= booking.date_from.day %>, <%= booking.date_from.year %> to <%= Date::MONTHNAMES[booking.date_to.month] %> <%= booking.date_to.day %></li>
            <li id="bookings-buttons-column">
              <div class="booking-button">
                <%= link_to "Edit", edit_booking_path(booking.id), class: "btn btn-edit" %>
              </div>
              <div class="booking-button">
                <%= link_to "Delete", booking_path(booking), method: :delete, data: { confirm: "are you sure?" }, class: "btn delete-btn" %>
              </div>
            </li>
          </ul>
        </div>
        <% end %>
      </div>
      <div class="dash-square portfolio portfolio-stats">
        <div class="car-card-title">
          <div class="green-line"></div>
          <h3 class="title-show">Profit/Rating</h3>
        </div>
        <div class="ratings-dashboard">
          <div class="profit-group">
            <i class="fas fa-money-bill-alt"></i>
            <p><%= @total_profit.to_i %>€</p>
          </div>
          <% rating = 0 %>
          <% number_ratings = 0 %>
          <% @reviews.each do |review| %>
            <% rating = rating + review.rating.to_f %>
            <% number_ratings += 1 %>
          <% end %>
          <% if number_ratings == 0 %>
            <h4>You have no ratings, yet!</h4>
          <% else %>
            <div class="rating-group">
              <i class="fas fa-star"></i>
              <p><%= rating / number_ratings %>/5</p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="dash-square my-portfolio">
        <div class="car-card-title">
          <div class="green-line"></div>
          <h3 class="title-show">Your cars</h3>
        </div>
        <div class="product">
          <div class='product-body'>
            <h3>Car</h3>
          </div>
          <ul class="list-inline product-controls">
            <li>Nº Bookings</li>
            <li>Price per day</li>
            <li>Profit per car</li>
          </ul>
        </div>
        <% @cars.each do |car| %>
        <div class="product product-list">
          <div class='product-body'>
            <h3><%= car.brand %> <%= car.model %></h3>
          </div>
          <ul class="list-inline product-controls">
            <li><%= car.bookings.all.length %></li>
            <li><%= car.price_per_day.to_i %>€</li>
            <li><%= car.bookings.all.length * car.price_per_day.to_i %>€</li>
          </ul>
        </div>
        <% end %>
      </div>
    </div>
    <!-- <div class="row">
      <div class="dash-square top-win-lose">

      </div>
      <div class="dash-square twitter-feed">

      </div>
      <div class="dash-square top-traded">

      </div> -->
    </div>
  </div>
</div>
