<div class="cars-wrapper">
    <div class="cars-container">
      <% @cars.each do |car| %>
      <div class="product">
        <%= image_tag car.photo, class: "index-product-image hidden-xs" %>
        <div class='product-body'>
          <h3><%= link_to car.brand, car_path(car) %></h3>
          <p><%= link_to car.model, car_path(car) %></p>
        </div>
        <ul class="hidden-sm hidden-xs">
          <li><%= link_to "#{car.price_per_day.to_i}€ per day", car_path(car) %></li>
          <li><%= link_to car.city, car_path(car) %></li>
          <li><%= link_to car.country, car_path(car) %></li>
        </ul>
      </div>
      <% end %>
    </div>
    <div class="map-container">
     <div
     id="map"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
     ></div>
   </div>
</div>


