<div class="row">
  <div class="col-xs-12 col-sm-6 col sm offset-4">
    <%= simple_form_for @car do |f| %>
      <div class="form-row">
        <div class="left-form">
          <%= f.input :brand %>
        </div>
        <div class="right-form">
          <%= f.input :model%>
        </div>
      </div>
      <div class="form-row">
        <div class="left-form">
          <%= f.input :year %>
        </div>
        <div class="right-form">
          <%= f.input :fuel_type, collection: %w[ diesel petrol electric hybrid gas ] %>
        </div>
      </div>
      <div class="form-row">
        <div class="left-form">
          <%= f.input :color %>
        </div>
        <div class="right-form">
          <%= f.association :car_type, label_method: :car_type, value_method: :id%>
        </div>
      </div>

      <div class="form-row">
        <div class="left-form">
          <%= f.input :passengers %>
        </div>
        <div class="right-form">
          <%= f.input :horsepower %>
        </div>
      </div>
      <div class="form-row">
        <div class="left-form">
          <%= f.input :price_per_day %>
        </div>
        <div class="right-form">
          <%= f.input :photo, placeholder: "Paste an URL of your photo" %>
        </div>
      </div>
      <div class="form-row">
        <div class="left-form">
          <%= f.input :city %>
        </div>
        <div class="right-form">
          <%= f.input :zipcode %>
        </div>
      </div>
      <div class="form-row row-address">
          <%= f.input :address %>
      </div>
      <%= f.country_select :country %>
      <%#= f.input :address %>
      <div class="form-submit">
        <%= f.button :submit, class: "btn btn-success" %>
      </div>
    <% end %>
  </div>
</div>
