<div class="container">
  <div class="show-title-wraper">
    <div class="car-card-title">
      <div class="green-line"><%= image_tag @car.user.photo, class: "avatar-large", style: "margin-top: 20px" %></div>
      <div class="title-show"><h1><%= @car.brand %> <%= @car.model %></h1></div>
    </div>
  </div>
  <div class="row car-wraper">
    <div class="col-xs-12 col-md-6 image-show" style="background-image:  url( <%= image_path(@car.photo) %> );"></div>
    <!-- linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), -->
    <%#= image_tag "audia3.jpg", width: 500, class: "image-show" %>
    <div class="col-xs-12 col-md-6 text-show">
      <div class="booking-form">
        <h4 class="text-center"><strong>Book Now</strong></h4>
        <%= simple_form_for [@car, @booking] do |f| %>
        <div id="startDateinput" class="form-inline text-center"><%= f.input :date_from, as: :string, input_html: { class: 'special' }%></div>
        <div id="endDateinput" class="form-inline text-center"><%= f.input :date_to, as: :string%></div>
        <% f.hidden_field :title, value: "some value" %>
        <h4 class= "text-center">Price:
          <span id= "total-price"></span>
        </h4>
        <div class="rent-button"><%= f.button :submit, "Book this car", class: "btn btn-success show-button" %></div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row car-wraper">
    <div class="col-xs-12 col-md-12 text-show">
      <div class="car-details">
        <h4>Details</h4></div>
        <p><strong>Segment:</strong> <%= @car.car_type.car_type.capitalize %> | <strong>Number of seats:</strong> <%= @car.passengers %></p>
        <p><strong>City:</strong> <%= @car.city.strip.capitalize %> | <strong>Price per day:</strong> <span id="price_per_day"><%= @car.price_per_day %>€</span></p>
        <p><strong>Power:</strong> <%= @car.horsepower %> hp | <strong>Fuel:</strong> <%= @car.fuel_type.capitalize %></p>
        <p><strong>Color:</strong> <%= @car.color.capitalize %></p>
        <p><strong>Owner:</strong> <%= @car.user.first_name.capitalize %> <%= @car.user.last_name.capitalize %></p>
      </div>
    </div>
    <div class="col-xs-12 col-md-12 text-show">
      <div class="car-details">
        <h4>Reviews</h4></div>
        <ul class="review-list">
          <% if @reviews.count == 0 %>
          <p><%= "No Reviews for this car" %> </p>
          <% else %>
          <% @reviews.each do |review| %>
          <div class="container-review">
            <div class="review-avatar">
              <%= image_tag review.booking.user.photo, class: "avatar-large" %>
            </div>

            <div class="content-review">
              <li class="list-group-item">
                  <h4><strong><%= review.title %></strong> - <small>
                  <% count = 0 %>
                  <% 5.times do %>
                  <% if review.rating > count %>
                  <i class="fas fa-star"></i>
                  <% else %>
                  <i class="far fa-star"></i>
                  <% end %>
                  <% count += 1 %>
                  <% end %>
                </small></h4>

              </li>
              <p><%= review.content %></p>
              <p>- <em><%= "#{review.booking.user.first_name} #{review.booking.user.last_name}" %></em></p>
            </div>
          </div>
          <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
