<div class="show-card">
  <div class="show-title-wraper">
    <div class="car-card-title">
      <div class="green-line"></div>
      <h1 class="title-show"><%= @car.brand.capitalize %> <%= @car.model.capitalize %></h1>
    </div>
  </div>
  <div class="row car-wraper">
    <div class="col-xs-12 col-md-6 image-show" style="background-image:  url( <%= image_path('audia3.jpg') %> );">
    </div> <!--linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), -->
      <%#= image_tag "audia3.jpg", width: 500, class: "image-show" %>
    <div class="col-xs-12 col-md-6 text-show">
      <div class="car-details">
        <p><strong>Segment:</strong> <%= @car.car_type.car_type.capitalize %> | <strong>Number of seats:</strong> <%= @car.passengers %></p>
        <p><strong>City:</strong> <%= @car.city.capitalize %> | <strong>Price per day:</strong> <%= @car.price_per_day %>€</p>
        <p><strong>Power:</strong> <%= @car.horsepower %> hp | <strong>Fuel:</strong> <%= @car.fuel_type.capitalize %></p>
        <p><strong>Color:</strong> <%= @car.color.capitalize %></p>
        <p><strong>Owner:</strong> <%= @car.user.first_name %> <%= @car.user.last_name %></p>
      </div>
      <div class="booking-form">
        <%= simple_form_for [@car, @booking] do |f| %>
          <div class="form-inline text-center"><%= f.input :date_from, as: :string, input_html: { class: 'special' }%></div>
          <div class="form-inline text-center"><%= f.input :date_to, as: :string%></div>
          <% f.hidden_field :title, value: "some value" %>
          <h4>Price:</h4><h4 id= "rent-price"><strong></strong></h4>
          <div class="rent-button"><%= f.button :submit, "Book this car", class: "btn btn-primary show-button" %></div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="review-wraper">
  <div class="car-card-title">
    <div class="green-line"></div>
    <h3 class="title-show">Reviews</h3>
  </div>
  <ul>
    <% @reviews.each do |review| %>
      <span><%= review.rating %>/5 - <%= review.content %> |</span>
    <% end %>
  </ul>
</div>
